form {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #4f57a0;
}

form input[type="text"] {
  width: 100%;
  padding: 12px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

form input[type="text"]:focus {
  border-color: #007BFF;
  outline: none;
  background-color: #fff;
}

body{
  font-family: 'segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #131842;
  padding: 20px;
  margin:0;
}

.container{
  max-width: 900px;
  margin:auto;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-top: 4px solid #674188;
}

h2{
  color: #674188;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 30px;
}

.table-container{
  margin-top: 20px;
}

table{
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

th, td{
  padding: 15px 20px;
  text-align: left;
  border-bottom: 1px solid #eee;  
}

th{
  background-color: #674188;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}

tr:nth-child(even){
  background-color: #E2BFD9;
}

tr:hover{
  background-color: #ebe9e8;
};

.errorMsg{
  color: #c82333;
  margin-bottom:15px;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  transition: backgroung-color 0.3s, transform 0.2s;
  margin-right: 15px;
}

.btn-primary{
  background-color: #674188;
}

.btn-danger{
  background-color: #dc3545;
}

.btn-info{
  background-color: #33bee5;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn-add{
  background-color: #533366;
}

.btn-save{
  margin-top: 20px;
  background-color: #336645;
}

.btn-back{
  margin-top: 20px;
  background-color: royalblue;
}

span{
  color: #dc3545;
}

.form-group {
  margin-bottom: 1rem;
}

.login-container {
   max-width: 900px;
  margin:auto;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-top: 4px solid #674188;
}

.login-title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-button {
  margin-top: 20px;
  padding: 0.6rem;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 1rem;
  text-align: center;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.btn-logout{
  margin-top: 20px;
  background-color: royalblue;
}

